Source: node-syslog-console
Section: web
Priority: extra
Maintainer: Fastsociety Ops <ops@fastsociety.com>
Build-Depends: debhelper (>= 8.0.0), nodejs, npm
Standards-Version: 3.9.2
Homepage: https://github.com/FastSociety/node-syslog-console

Package: node-syslog-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nodejs Syslog Console module
